
.testimonial-card {
    background-color: #edefee;
    padding: 1rem 1rem 1rem 1rem;
}

.testimonial-card>img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}

.testimonial-card p{
    margin-top: 1rem;
}


@media only screen and (min-width: 901px){
    .testimonials-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-gap: 2vw;
        align-items: center;
    }
}

@media only screen and (max-width: 900px){
    .testimonials-cards {
        display: block;
    }
    .testimonial-card {
        margin-top: 1rem;
    }
}