.navbar-menu{
    margin-top: 1rem;
}
.navbar-menu div{
    display: grid;
}

.hover-effect:hover {
    background-color: #f4ce14;
    transition: 0.25s;
}

.nav-image {
    max-height: 4rem;
    margin-left: -1.25rem;
}
.desktopNav{
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    text-align: center;
}

.mobileNav{
    text-align: right;
}

.burger-icon {
    margin-top: 1.5rem;
    margin-left:auto;
    margin-right:0;
    background-color: white;
    border:none;

}
.burger-icon img{
    margin-right: 0;
    margin-left:200px;
}


@media only screen and (min-width: 901px){
    .burger-icon {
        display: none;
    }

    .desktopNav{
        display: block;
    }

    .mobileNav{
        display: none;
    }


}

@media only screen and (max-width: 900px){
    .burger-icon {
        display: block;
    }

    .desktopNav{
        display: none;
    }

    .mobileNav{
        display: block;
    }

}